.price-select {
  margin-right: 10px;
  .ant-collapse {
    border-radius: 7px;

    .ant-collapse-item {
      width: 300px;
      height: 60px;

      .ant-collapse-content {
        border: 1px solid #d9d9d9;
      }

      .ant-collapse-content:last-child {
        border-radius: 7px;
        margin-top: 10px;
      }

      .ant-collapse-header {
        height: 60px;
        color: #7B7C7E;
        border: none;
        line-height: 33px;
      }

      .ant-collapse-content-box .ant-input-group {
        display: flex;
        justify-content: space-between;

        .ant-input {
          border-radius: 5px;
          width: 130px;
        }
      }
    }

    .ant-collapse-item:last-child {
      border-radius: 5px;
    }
  }
}

.ant-collapse:hover {
  border-color: #96c771;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

  .ant-collapse-item {
    border-color: #96c771;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.filter-price-select {
  width: 280px;

  .ant-collapse {
    max-height: 50px;
    border-radius: 7px;
    background-color: white;

    .ant-collapse-item {
      width: 278px;
      height: 50px;

      .ant-collapse-content {
        border: 1px solid #d9d9d9;
      }

      .ant-collapse-content:last-child {
        border-radius: 7px;
        margin-top: 10px;
      }

      .ant-collapse-header {
        height: 50px;
        color: #7B7C7E;
        border: none;
        line-height: 25px;

        .ant-collapse-arrow {
          right: 10px;
        }
      }

      .ant-collapse-content-box .ant-input-group {
        display: flex;
        justify-content: space-between;

        .ant-input {
          border-radius: 5px;
          width: 110px;
        }
      }
    }

    .ant-collapse-item:last-child {
      border-radius: 7px;
    }
  }
}


