.search-zone {
  padding: 50px 10% 200px;

  .title {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
  }

  .search-body {
    display: flex;
    justify-content: space-around;

    .ant-btn {
      width: 125px;
      height: 60px;
      border-radius: 7px;
    }
  }
}

@media screen and (min-width: 660px) {

}

@media screen and (min-width: 1000px) {
  .search-zone {
    padding: 70px 10% 200px;
  }
}

@media screen and (min-width: 1660px) {
  .search-zone {

    .title {
      font-size: 52px;
    }
    padding: 70px 18% 200px;
  }
}

